@font-face {
	src: url('../fonts/PierSans-Regular.otf');
	font-family: 'Pier Sans';
	font-weight: 300;
}
@font-face {
	src: url('../fonts/PierSans-Light.otf');
	font-family: 'Pier Sans';
	font-weight: lighter;
}
@font-face {
	src: url('../fonts/PierSans-Black.otf');
	font-family: 'Pier Sans';
	font-weight: bolder;
}
@font-face {
	src: url('../fonts/PierSans-Bold.otf');
	font-family: 'Pier Sans';
	font-weight: bold;
}




html, body {
	margin: 0;
	font-family: 'Pier Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	overflow-x: hidden;
}
* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
p {
	font-weight: lighter !important;
}
.button {
	padding: 15px 20px;
	cursor: pointer;
	background: #ffffff;
	border-radius: 5px;
	color: #000000;
	font-weight: lighter;
	text-decoration: none;
}
.green {
    background: #26b564;
    color: #ffffff;
    margin-left: 20px;
}
a.link {
    color: #3b74e1;
    text-decoration: none;
    border-bottom: solid 2px #3b74e1;
}
a:hover {
    transition: 0.2s;
    opacity: 0.8;
}








@keyframes fadeInUp {
    from {
        transform: translate3d(-40px,0,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes fadeInUpX {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}
.fadeInUpX {
    opacity: 0;
    animation-name: fadeInUpX;
}
.s1 {
    animation-duration: 1s;
}
.s15 {
    animation-duration: 1.5s;
}
.s2 {
    animation-duration: 2s;
}









header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: transparent;
    padding: 5px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 12px;
}
nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    color: white;
}
nav a.button {
    padding: 12px 15px;
}












.sec-1 {
    background: url("https://i.imgur.com/IFM4uJj.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    height: 100vh;
}
.sec-1 .left, .sec-1 .right {
    height: 60vh;
    width: 60vh;
}
.sec-1 .left {
    padding: 40px;
}
.sec-1 .left h1 {
    color: #ffffff;
    font-size: 80px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.sec-1 .left p {
    margin-top: 40px;
    color: #ffffff;
}
.sec-1 .right {
    display: flex;
    justify-content: center;
    align-items: center;
}










.sec-2 {
    background: #3a327b;
    background-repeat: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    height: 100vh;
    color: #ff8192;
}
.sec-2 .left {
    width: 50vh;
}
.sec-2 .left h1 {
    font-size: 60px;
    margin-bottom: 3rem;
}
.sec-2 .left p {
    font-size: 20px;
}
.sec-2 .left .inner-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
.sec-2 .left .inner-flex div {
    width: 40%;
}
.sec-2 .left .inner-flex div h4 {
    margin-bottom: 1rem; 
}
.sec-2 .left .inner-flex div p {
    font-size: 15px;
}
















.sec-3 {
	background: #ff0172;
    background-repeat: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    height: 100vh;
    color: #3a327b;
}
.sec-3 .top {
	position: absolute;
    top: 220vh;
    width: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.sec-3 .top h1 {
    font-size: 50px;
}
.sec-3 .top p {
    font-size: 20px;
}
.sec-3 .top a.link {
    color: #eeff24;
    border-color: #eeff24;
}
.sec-3 .bottom {
    width: 100%;
    padding-top: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    text-align: center;
}
.sec-3 .bottom .box {
    padding: 7.5px;
    background: #ffffff;
    height: 200px;
    border-radius: 6px;
    width: 200px;
    box-shadow: 1px 15px 41px rgba(0,0,0,0.3);
}
.sec-3 .bottom .box p {
    margin-bottom: 25px;
}
.sec-3 .bottom .box p img {
	width: 20%;
}
.sec-3 .bottom > img {
	margin-top: -380px;
	margin-right: -200px;
}
.sec-3 .bottom .box .button {
    margin-top: 20px;
    background: #ff8192;
    color: #ffffff;
}









.sec-4 {
	padding-left: 100px;
    height: 100vh;
    background: url("") #53db8e;
    color: #143938;
}
.sec-4 h1 {
	padding-left: 30px;
    padding-top: 150px;
    margin: 0;
    font-size: 50px;
}
.sec-4 .inner-sec {
    box-sizing: content-box;
    background: url("");
    background-repeat: no-repeat;
    background-position: left 60vh bottom 0px;
	padding: 60px 0;
	padding-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sec-4 .inner-sec .box {
    box-shadow: 0 1px 4px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.1);
    background: #ffffff;
    border-radius: 7px;
    margin: 10px;
    padding: 30px;
    padding-top: 10px;
    width: 260px;
    height: 290px;
}
.sec-4 .inner-sec .box h3 {
    font-size: 25px;
    margin-bottom: 1rem;
}
.sec-4 .inner-sec .box ul {
    padding-inline-start: 20px;
}
.sec-4 .inner-sec .box p {
    margin-bottom: 40px;
}
.sec-4 .inner-sec .box p span {
    font-size: 27px;
    font-weight: bold;
}
.sec-4 .inner-sec .box .button {
    padding: 15px 40px;
    margin-left: 0;
}
.sec-4 img {
	position: absolute;
	top: 310vh;
	right: 7vw;;
}