* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}
.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}
section.header {
    color: #fff;
    height: 100vh;
    background: linear-gradient(45deg, #703f98 0%,#16a6df 100%);
    background-size: cover;
    position: relative;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    padding: 50px 30px;
    float: right;
}
.nav-header {
    font-size: 25px;
    font-weight: bold;
    float: left;
}
.nav-header a:hover {
    box-shadow: none;
}
a {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}
nav ul li a:hover {
    box-shadow: inset 0 -45px 0 #00000049;
}
.btn-nav-cool {
    padding: 10px 20px;
    background: #00000088;
}
.btn-nav-cool:hover {
    color: #fff;
    box-shadow: inset 0 -45px 0 #703f98c5;
}
.container {
    text-align: center;
    padding: 350px;
}
.container h1 {
    font-size: 50px; 
}
.container p {
    margin: 40px;
    margin-top: 10px;
}
.container a.btn-nav-cool {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 50px;
}
.down {
    cursor: pointer;
    text-align: center;
    border: solid #fff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(45deg);
}
.down:hover {
    transform: rotate(45deg) scale(1.4);
}
.downer a {
    padding-left: 50%;
    cursor: context-menu;
}


/* Services */
.services {
    padding: 40px 0 50px;
    background: #f2f1f8;
}
.services .wrapper {
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.box {
    padding: 80px 50px;
    box-shadow: 0px 0px 57px 0px rgba(4,6,9,.25);
    border-radius: 10px;
    color: #3f3d4e !important;
    text-align: center;
    width: 30%;
}
.box h1 {
    margin-bottom: 40px;
    font-size: 30px;
}
.box p {
    margin-bottom: 30px;
}
.box .btn-cool {
    transition: 0.2s;
    display: inline-block;
    background: linear-gradient(45deg, #703f98 0%,#16a6df 100%);
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    color: #fff;
}
.box .btn-cool:hover {
    box-shadow: 3px 3px 3px rgba(50, 50, 93, 0.22), 3px 3px 6px rgba(0, 0, 0, 0.59), inset 0 45px 0 0 #00000040;
}